body{
    font-family: sans-serif;
    color: #333
}
 .head{
     width: fit-content;
     margin: 20px auto;
 }
.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(219, 219, 219);
    padding: 2rem;
    border-radius: 2rem;
}
.row{
    display: flex;
    justify-content: center;
    background: #333;
}
.key{
    background: #fff;
    border-radius: 10%;
    margin: 5px;
    padding: .5rem .7rem;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.preview{
    position: absolute;
    top: -26px;
    /* top: 0; */
    left: 0;
    /* padding: .6rem 1.2rem; */
    padding: .6rem;
    border: 1px solid #333;
    border-radius: 10%;
    background: #fff;
    display: auto;
}
 /* -------Display-none--------- */
  .display-none{
      display: none;
  }
 
.text-input{
    display: block;
    outline: none;
    width: 600px;
    padding: 1rem 2rem;
    border: 1.5px solid #333;
    font-size: 1.4rem;
    color: #333;
    border-radius: 1rem;
    margin:  auto;
    margin-top: 50px;
    margin-bottom: 80px;
}